
@import "mixin";
body{
	padding: 0;
	margin: 0;
}
/*slider*/
.wrapper{
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	max-width: 1224px;
}
.home-slider{
	position: relative;
	&__slider{
		&--item{
			position: relative;
			&__img{
				height: 802px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__content{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding-top: 200px;
				&--text{
					max-width: 600px;
				}
			}
			&__title{
				font-weight: 700;
				font-size: 58px;
				line-height: 110%;
				color: #FFFFFF;
			}
			&__button{
				margin: 30px 0;
				a{
					padding: 9px 30px;
					background: #FFFFFF;
					border-radius: 50px;
					font-weight: 500;
					font-size: 16px;
					line-height: 136%;
					display: inline-block;
					text-align: center;
					color: #000000;
					text-decoration: none;
				}
			}
			p{
				font-weight: 500;
				font-size: 16px;
				line-height: 136%;
				color: #FFFFFF;
				margin: 10px 0;
			}
			ul{
				padding: 0;
				list-style: none;
				li{
					font-weight: 500;
					font-size: 16px;
					line-height: 136%;
					position: relative;
					color: #FFFFFF;
					padding-left: 25px;
					margin-bottom: 8px;
					&:before {
						content: "";
						position: absolute;
						top: calc(50% - 9px);
						left: 0;
						background: url("../img/tick-circle.svg") no-repeat center center;
						width: 18px;
						height: 18px;
					}
				}
			}
		}
		&--line{
			position: absolute;
			top: 50%;
			right: calc((100% - 1224px)/2);
			transform: translate(0,-50%);
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			font-size: 16px;
			line-height: 136%;
			color: #FFFFFF;
			&__default{
				background: rgba(255,255,255,.3);
				width: 1px;
				height: 300px;
				margin: 14px 0;
			}
			&__active{
				height: 150px;
				width: 100%;
				background: #ffffff;
				@include transition();
			}
			&__num{
			
			}
		}
	}
	.slick-arrow{
		position: absolute;
		border: 0;
		cursor: pointer;
		bottom: 155px;
		width: 8px;
		height: 16px;
		font-size: 0;
		z-index: 1;
	}
	.slick-prev{
		background: url("../img/prev.svg") no-repeat center center;
		right: calc((100% - 1224px)/2 + 60px);
	}
	.slick-next{
		background: url("../img/next.svg") no-repeat center center;
		right: calc((100% - 1224px)/2);
	}
}



